html, body {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1300px;
    margin:auto;
    max-height: 1200px;

}

table {
    position: absolute;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}
canvas{
    position: absolute;
    background-color: black;

}

td {
    border: 1px solid black;


}

.semester {
    text-align: center;
}

.lecture_cell{
    display: inline-block;
    width: 125px;
    height: 75px;
    background-color: yellow;
    overflow: hidden;
}

.node_cell {
    height: 35px;
    width: 35px;
    min-width: 35px;
}